*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.navbar {
    align-items: center;
    display: flex;
    height: 75px;
    box-shadow: 0px 1px 7px gray;
    justify-content: space-around;
}
.nav {
    display: flex;
    list-style: none;
}
ul.nav li {
    padding: 10px;
    margin: 5px;
}
section.section-1 {
    height: 600px;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.slider {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
span#slid-span {
    color: green;
    font-size: 28px;
    font-style: italic;
}
.slider-1 h1 {
    color: darkorange;
    font-size: 52px;
    line-height: 75px;
}
.slider-1 p {
    font-size: 17px;
}
.slider-1 button {
    background: darkorange;
    color: white;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: 1px;
    margin-top: 13px;
    font-size: 15px;
}
.slider-1 {
    margin-right: 70px;
}
.slider-image {
    margin-left: 70px;
}